a { text-decoration: none }

body {
  margin-left: 3em;
  font-family: "Helvetica Neue";
}

form {
  width: 200px;
  margin-bottom: 1em;
}

input[type="text"] {
  float: right;
}

#articles, #article, .post {
  margin-bottom: 1em;
}

.article {
  padding-bottom: 1em;
  border-bottom: 1px solid lightGray;
}
