<form action="/session" method="POST">
  <label for="username">
    Username:
    <input name="username">
  </label>
  <label for = "password">
    Password:
    <input name="password" type="password">
  </label>

  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  <button>Sign In</button>
</form>
